<?xml version="1.0" encoding="utf-8"?>
<!-- This file is included in the WorkingDirectory of every test run. -->
<configuration>
  <config>
    <!-- Overrides default Nuget cache folder to make sure we are using the correct package. -->
    <add key="globalPackagesFolder" value="./pkg/cache" />
  </config>
</configuration>