<?xml version="1.0" encoding="utf-8"?>
<!-- This file is included in the WorkingDirectory of every test run. -->
<configuration>
  <config>
    <!-- Overrides default Nuget cache folder to make sure we are using the correct package. -->
    <add key="globalPackagesFolder" value="./pkg/cache" />
  </config>
  <packageSources>
    <!-- Clear all global package sources and only use local one for testing. -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local" value="./pkg" />
  </packageSources>
</configuration>