<?xml version="1.0" encoding="utf-8"?>
<!-- This file is included in the WorkingDirectory of every test run. -->
<configuration>
  <config>
    <!-- Overrides default Nuget cache folder to make sure we are using the correct package. -->
    <add key="globalPackagesFolder" value="./pkg/cache" />
  </config>
  <packageSources>
    <clear />
    <!-- only 1 feed is allowed. Add new feeds as upstream sources to sqlds_ssms in ADO -->
    <add key="SQLDS-SSMS" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_SSMS/nuget/v3/index.json" />
  </packageSources>
</configuration>