name: pr-validation

on: pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        targetFramework: [net8.0, net9.0]
        include:
          - targetFramework: net8.0
            dotnetVersion: 8.x
          - targetFramework: net9.0
            dotnetVersion: 9.x
          - targetFramework: net10.0
            dotnetVersion: 10.x
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4  # Latest version is always required
      with:
        dotnet-version: 10.x
        dotnet-quality: preview
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnetVersion }}
        dotnet-quality: preview
    - run: dotnet build DacFx.sln
    - run: dotnet pack DacFx.sln --no-build
    - run: dotnet test DacFx.sln --no-build -f ${{ matrix.targetFramework }}